@font-face {
    font-family: 'RougeScript';
    src: url(./assets/fonts/RougeScript.ttf);
}
@font-face {
    font-family: 'Gluten';
    src: url(./assets/fonts/Gluten.ttf);
}

#root {
    font-family: 'Gluten';
}

h1 {
    font-size: 80px;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    input {
        margin: 20px 0 0 0;
        padding: 15px 20px;
        font-size: 24px;
        border: none;
        border-radius: 10px;
        text-align: center;
        outline: none;
    }

    .text {
        color: white;
        font-size: 12px;
        margin: 10px 0;
        text-shadow: 2px -1px 5px #ff0000, 2px -1px 5px #0000ff;
    }

    .result {
        text-shadow: 2px -1px 5px #ff0000, 2px -1px 5px #0000ff;
    }
}

.top-menu {
    display: flex;
    justify-content: center;
    margin-left: -3rem;

    ul {
        display: flex;
        gap: 50px;
        flex-direction: row;

        li {
            list-style: none;
            font-size: 40px;

            a {
                color: white;

                &:hover {
                    color: pink;
                    filter: drop-shadow(0 0 1em #d58df7aa);
                }
            }
        }
    }
}

.numb {
    width: 2.5rem;
    padding: 5px;
    border-radius: 8px;
}

.fams {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    .fam {
        display: flex;
        flex-direction: column;
    }
}

.text {
    border-radius: 8px;
    padding: 5px;
}

label {
    margin: 5px;
}