.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 28px;
        color: white;
        margin-top: 15px;
    }

    input {
        margin: 20px 0 0 0;
        padding: 15px 20px;
        font-size: 24px;
        border: none;
        border-radius: 10px;
        text-align: center;
        outline: none;
    }

    .text {
        color: white;
        font-size: 12px;
        margin: 10px 0;
        text-shadow: 2px -1px 5px #ff0000, 2px -1px 5px #0000ff;
    }

    .result {
        text-shadow: 2px -1px 5px #ff0000, 2px -1px 5px #0000ff;
    }
}

.top-menu {
    display: flex;
    justify-content: center;
    margin-left: -3rem;
    ul {
        display: flex;        
        gap: 50px;
        flex-direction: row;
        li {
            list-style: none;            
            color: white;
            font-size: 40px;
        }
    }
}