body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  text-align: center;
}

.app-header {
  background-image: url("./Components/farm.webp");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;

  h2,
  h4 {
    text-shadow: 2px 2px 5px red;
  }
}

.ganykla {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.sheeps {
  border: black 2px dashed;
  border-radius: 3px;
  width: 700px;
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}

.cows {
  border: black 2px dashed;
  border-radius: 3px;
  width: 700px;
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}

.sheep {
  display: flex;
  justify-content: center;
  align-items: last baseline;
  color: red;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  width: 80px;
  height: 80px;
  margin: 10px;
  border-radius: 50%;
  background-image: url("./Components/sheep.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.cow {
  display: flex;
  justify-content: center;
  align-items: last baseline;
  color: red;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  width: 80px;
  height: 80px;
  margin: 10px;
  border-radius: 2px;
  background-image: url("./Components/cow.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.buttons {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}