$tang: #6b5b01;
$ecru: #C4A77D;
$hgreen: #00026b;
$dblue: #454372;
$cadet: #2F2963;
$lime: #32cd32;
$red: #ff0000;
$black: #000000;
$white: #344b3b;
$white05: #c7c6c630;
$gray: #3a3a3a;
$veryGray: #727272