@use 'colors.scss' as C;
@use 'vars.scss' as V;
@use 'buttons.scss' as B;
@use "sass:color";

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-image: url('./images/clouds.jpg');
    color: C.$white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    overflow-x: hidden;    
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .container {
        width: 100%;
        max-width: V.$l;
        padding: 0 V.$p;
    }
}

.home {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .home_title {
            font-size: 34px;
        }

        .context {
            width: 100%;
        }
    }
}

.list_content,
.admin_panel {
    width: 90%;

    h2 {
        font-size: 26px;
    }

    .stories_list {
        width: 100%;
        .stories {
            width: 100%;
            margin-bottom: 50px;
        }

        .progress-bar {
            width: 100%;
            max-width: 350px;
            height: 12px;
            border: 1px C.$cadet solid;
            border-radius: 12px;
            margin: 20px 0;

            .progress {
                width: var(--progress);
                height: 100%;
                background-color: C.$cadet;
                transition: width 0.4s ease;
            }
        }

        // Make it responsive with media queries if needed
        @media (max-width: 600px) {
            .progress-bar {
                height: 16px;
            }
        }

        .story_text {
            font-style: italic;
        }

        .title {
            font-size: 22px;
        }

        .donate {
            display: flex;
            justify-content: start;
            align-items: center;
            flex-wrap: wrap;

            .donate_input {
                outline: none;
                border: none;
                border-radius: 10px;
                height: 40px;
                margin-right: 20px;
                opacity: 0.5;
            }
        }
    }
}
.pending {
    width: 100%;    
}

.screen-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 20px;
    font-weight: 100;
    color: C.$white;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 10px;
        flex-wrap: wrap;
        color: C.$white;
        font-size: 20px;
        font-weight: bold;
        list-style: none;
        margin: 0;

        li {
            a {
                color: C.$tang;
                text-decoration: none;

                &:hover {
                    color: C.$hgreen;
                }
            }
        }
    }

    .auth {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        a {
            color: C.$tang;
            text-decoration: none;

            &:hover {
                color: C.$hgreen;
            }
        }

        &.user {
            display: flex;
            align-items: center;

            h3 {
                color: C.$tang;
                font-weight: bold;
            }
        }
    }
}

.login,
.register {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1 {
        font-size: 40px;
        font-weight: bold;
        margin: 100px 0;
        text-align: center;

    }

    .form {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        row-gap: 20px;
        padding: 20px;
        margin: 0 auto;

        label {
            font-size: 20px;
            font-weight: bold;
            color: C.$tang;
            width: 100px;
        }

        input {
            width: 90%;
            max-width: 500px;
            padding: 10px;
            font-size: 18px;
            outline: none;
            border: none;
            border-radius: 10px;
            height: 40px;
            margin-right: 20px;
            opacity: 0.3;

        }
    }
}

.modal_msg {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 300px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: C.$gray;
    color: C.$tang;
    border-radius: 10px;
    margin: 5px;
    animation: slide 5s ease-in-out;

    h2 {
        // font-size: auto;
        font-weight: bold;
        color: C.$tang;
        text-align: center;

    }
}

@keyframes slide {
    0% {
        transform: translateX(100%);
    }    
    25% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(0%);
    }
    75% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}

.confirm_msg {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;    
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: C.$white;
    opacity: 0.2;    
    
    .confirm_content {
        width: 50%;
        min-width: 300px;
        margin: auto;
        background-color: C.$veryGray;
        border-radius: 10px;
        padding: 20px;
        opacity: 1;
    }
    
}

.page404 {
    font-size: 32px;
}

.create {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    .create_content {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;

        h1 {
            font-size: 40px;
            font-weight: bold;
            margin: 100px 0;
            text-align: center;

        }

        .create_form {
            width: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            row-gap: 20px;
            padding: 20px;

            .create_input {
                width: 100%;
                max-width: 800px;
                padding: 10px;
                font-size: 18px;
                outline: none;
                border: none;
                border-radius: 10px;
                min-height: 40px;
                opacity: 0.5;

                &:hover {
                    background-color: color.adjust(C.$veryGray, $lightness: 30%);
                }
            }

            .create_text {
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                height: 160px;
                width: 100%;
                max-width: 800px;
                padding: 10px;
                font-size: 22px;
                outline: none;
                border: none;
                border-radius: 10px;
                min-height: 40px;
                opacity: 0.5;

                &:hover {
                    background-color: color.adjust(C.$veryGray, $lightness: 30%);
                }
            }
        }
    }
}

.about {
    padding: 0 20px;

    h1 {
        font-size: 34px;
        text-align: center;
    }

    .about_content {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}