#root {
  width: 100%;
  margin: 0;
  padding: 2rem;
  box-sizing: border-box;
  background-color: white;
  color: black;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

