  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 20px;

    h1 {
      text-align: center;
      margin-bottom: 20px;
    }

    span {
      text-align: center;
      margin-bottom: 30px;
    }

    p {
      margin: 5px 0;
    }

    .apmoketi {
      font-weight: 600;
    }

    .rekvizitai {
      margin-top: 60px;
      width: 90%;
      display: flex;
      justify-content: space-between;

      h3 {
        font-weight: 600;
        margin-bottom: 20px;

      }

      div {
        margin: 5px 0;
      }

      .atributes {
        font-weight: 600;
        margin-right: 2%;
      }

      .seller {
        padding-right: 10%;

        h3 {
          visibility: hidden;
        }
      }

      .buyer {
        h3 {
          visibility: hidden;
        }
      }

    }

    .saskaita {
      width: 100%;
      margin: 70px 0;

      div {
        width: 100%;
        margin-bottom: 50px;
        border-spacing: 0;
      }
    }

  }


.container .saskaita table tr td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1764705882);
  padding: 4px;
}

.container .saskaita table tr .right {
  text-align: end;
}

.container .saskaita table .first {
  background-color: rgba(109, 51, 109, 0.2549019608);
}

.container .saskaita table .first td {
  border: 0;
  font-weight: 600;
}

.container .saskaita .total {
  display: flex;
  justify-content: space-between;
}

.container .saskaita .total .buha {
  display: flex;
  justify-content: end;
  align-items: end;
}

.container .saskaita .total .buha .sas {
  font-weight: 600;
}

.container .saskaita .total .buha .bu {
  margin-left: 50px;
  border-bottom: 1px solid black;
  padding: 0 20px;
}

.container .saskaita .total .sums div {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.container .saskaita .total .sums div .text {
  width: 160px;
  margin: 14px 10px 0 10px;
  display: flex;
  justify-content: start;
}

.container .saskaita .total .sums div .galutine {
  font-weight: 600;
}

.container .saskaita .total .sums div .data {
  width: 80px;
  text-align: end;
  margin-top: 14px;
}

.container .saskaita .total .sums div .viso {
  font-weight: 600;
}

.bebras {
  width: 20%;
  position: absolute;
  right: 100px;
  top: 50px;
  z-index: -1;
}

.bebras img {
  -o-object-fit: scale-down;
  object-fit: scale-down;
  width: 180px;
}

.thanks {
  width: 90%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}