.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family:Georgia, 'Times New Roman', Times, serif;

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  span {
    text-align: center;
    margin-bottom: 30px;
  }

  p {
    margin: 5px 120px;
  }

  .apmoketi {
    font-weight: 600;
  }

  .rekvizitai {
    padding: 30px;
    width: 90%;
    display: flex;
    justify-content: space-evenly;

    h3 {
      font-weight: 600;
      margin-bottom: 20px;

    }

    div {
      margin: 5px 0;
    }

    .atributes {
      font-weight: 600;
      margin-right: 2%;
    }

    .seller {
      padding-right: 10%;

      h3 {
        visibility: hidden;
      }
    }

    .buyer {
      h3 {
        visibility: hidden;
      }
    }

  }

  .saskaita {
    width: 90%;
    margin: 70px auto;

    .table {
      margin-bottom: 30px;

      .list {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        border-bottom: 1px solid rgba(250, 245, 245, 0.176);
        padding: 4px;

        div {
          padding: 4px;
        }

        div:nth-child(1) {
          text-align: end;
          width: 3%;
        }

        div:nth-child(2) {
          text-align: start;
          width: 35%;
        }

        div:nth-child(3) {
          text-align: end;
          width: 4%;
        }

        div:nth-child(4) {
          text-align: end;
          width: 6%;
        }

        div:nth-child(5) {
          text-align: end;
          width: 6%;
        }

        div:nth-child(6) {
          text-align: end;
          width: 6%;
        }

        div:nth-child(7) {
          text-align: end;
          width: 6%;
        }

        div:nth-child(8) {
          text-align: end;
          width: 6%;
        }

        div:nth-child(9) {
          text-align: end;
          width: 6%;
        }
      }

      .list:nth-child(1) {
        background-color: #6d336d40;
      }
    }

    .total {
      display: flex;
      justify-content: space-between;

      .buha {
        display: flex;
        justify-content: end;
        align-items: end;

        .sas {
          font-weight: 600;
        }

        .bu {
          margin-left: 50px;
          border-bottom: 1px solid black;
          padding: 0 20px;
        }
      }

      .sums {
        div {
          display: flex;
          flex-direction: row;
          justify-content: end;

          .text {
            width: 250px;
            margin: 14px 10px 0 10px;
            display: flex;
            justify-content: start;
          }

          .galutine {
            font-weight: 600;
          }

          .data {
            width: 120px;
            text-align: end;
            margin-top: 14px;
          }

          .viso {
            font-weight: 600;
          }
        }
      }
    }
  }
}

.bebras {
  width: 20%;
  position: absolute;
  right: 100px;
  top: 50px;
  z-index: 1;
}

.bebras img {
  -o-object-fit: scale-down;
  object-fit: scale-down;
  width: 200px;
}

.thanks {
  width: 90%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}