body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-header {
  background-color: #282c34;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  width: 100%;
  min-height: 100vh;
}

.content {
  width: 90%;
  margin: 0;
  padding: 0;

  h2 {
    margin: 0;
    padding: 40px 0;

  }
}

.box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.bin {
  min-width: 400px;
  max-width: 700px;
}

.cardbody {
  display: flex;
  align-items: start;
  flex-direction: column;
  padding: 20px;
}

.card {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

}

label {
  width: 100%;
  text-align: start;
  margin: 10px 0;
}

.form-control {
  width: 100%;
  border-radius: 3px;
  border: none;
  outline: none;
  padding: 10px 0;
  margin: 10px 30px;
}

.container {
  width: 100%;
  border: 1px solid white;
  border-radius: 5px;
  padding: 20px;
}

.cbox {
  width: 100%;
  display: flex;
}

#laisvas,
#uzimtas {
  display: none;
}

input[type="checkbox"]:checked+label {
  color: lime;
}

.state {
  padding: 0 5px;
  cursor: pointer;
  width: 25%;
}

.list {
  list-style: none;
  width: 100%;
  padding: 0;
}

.list-card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  margin-top: 10px;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.24);
}

.card-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

span {
  margin: 10px 0;
}

.list-buttons {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 40%;
  border-radius: 10px;
  border: 1px solid white;
  padding: 30px;
  background-color: #282c34;
}

.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-footer {
  display: flex;
  justify-content: end;
}

.modal-body {
  padding: 20px;
}

.danger {
  width: 25%;
  position: fixed;
  right: 10px;
  bottom: 10px;
  background-color: pink;
  padding: 0 50px;
  border-radius: 5px;  
}

.success {
  width: 25%;
  position: fixed;
  right: 10px;
  bottom: 10px;
  background-color: lightgreen;
  padding: 0 50px;
  border-radius: 5px;  
}

.edit-body {
  width: 100%;
  margin: 0;
  padding: 5px;
}

.edit-content {
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-input {
  outline: none;
  padding: 5px;
  border-radius: 3px;  
  border: none;
}